<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

        {% block title %}

        {% endblock title %}

    </title>
</head>
<body>
    <header>
        <nav>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'home' %}">Receipts</a>
                    <a href="{% url 'category_list' %}">Categories</a>
                    <a href="{% url 'account_list' %}">Accounts</a>

                {% else %}
                    <a href="{% url 'signup' %}">Signup</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </li>
        </nav>
    </header>

    {% block main %}

    {% endblock main %}
    <footer>

    </footer>
</body>
</html>
