{% extends 'base.html' %}
{% block title %} My Receipts {% endblock title %}

{% block main %}
<main>
  <h1>My Receipts</h1>
  <table>
    <thead>
      <th>Name</th>
      <th>Number of receipts</th>
    </thead>
    <tbody>
      {% for category in category_list.all %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.receipts.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock main %}
